*{
    background-color: rgb(15, 201, 201);
}
.writingStyles {
    color: rgb(31, 6, 78);
    font-weight: bold;

  
}

#top2{
    text-transform: capitalize;
    text-decoration: underline;
}
#rndm{
    text-align: center;
    justify-content: center;
    color: rgb(87, 46, 7);
    text-transform: capitalize;
}