*{
    background-color: rgb(15, 201, 201);
}
.writingStyles {
    color: rgb(31, 6, 78);
    font-weight: bold;

  
}

#top2{
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-color: crimson;
}
#rndm{
    text-align: center;
    justify-content: center;
    color: rgb(99, 55, 14);
    text-transform: capitalize;
    text-decoration: line-through;
    text-decoration-color: chartreuse;

}

.mylist{
    color: rgb(99, 14, 55);
    font-size: 20px;
    font-weight: bold;
    line-height: 1.8;
    text-transform: capitalize;
    text-align: left;   
}